@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:700');
  
// colors
$accentColor = #007AFF
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

// layout
$navbarHeight = 4rem
$sidebarWidth = 20rem
$contentWidth = 850px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css scss sh 
