
// layout
$navbarHeight = 4rem
$sidebarWidth = 22rem
$contentWidth = 850px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css scss sh 

@import '~@temp/palette.styl'