@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

html 
  background-color: #2b2b2b
  
h1, h2, h3, h4, h5, h6
  font-family: 'Roboto', monospace
  font-weight 500
  color: #fff !important

h2, h3
  border-bottom: 1px solid rgba(255,255,255,.2);

h2 
  font-size 1.7rem

h3 
  margin-top: -2rem !important
  padding-bottom: 0.4rem
  font-size 1.4rem

h5 
  font-size 1.2rem !important

.page 
  background-color: #2b2b2b
  padding-top: 4rem

  p img
    display block
    margin: 2rem auto

*::-webkit-scrollbar
  width: 12px
  padding: 3px
  height: 12px
  background: transparent

*::-webkit-scrollbar-thumb
  background: rgba(255,255,255,0.1)
  border-radius: 12px
  border: 2px solid transparent
  background-clip: content-box

.navbar
  background-color: #2B2B2B

  .links 
    background-color: #2B2B2B !important

  .home-link
    display: flex !important
    align-items: center !important

  .logo
    height: 30px !important
    
.homepage .page
  text-align center

  .intro 
    margin 0 auto
    max-width 800px
  
  .content:not(.custom) > *:first-child
    margin-top: 2rem;

  p img
    display block
    margin: auto 0 3rem auto

  .button
    display inline-block
    color: white
    background-color: #007AFF
    padding: 12px 45px
    font-weight bold
    border-radius: 5px 
    margin: 2rem 0 2rem

  .page-edit
    display none

  h2
    border-bottom: none;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 2rem;
    font-size: 21px;

  .features
    border-bottom: 1px solid #dfe2e5
    padding: 2rem 0
    padding-top: 0px
    list-style: none
    text-align: left

    li
      padding: 1rem

    a
      display block
      margin-top: 10px;

    @media (min-width: ($MQMobile + 1px))
      display: flex

  .products
    padding: 0
    list-style: none
    margin: 3rem 0 2rem
    justify-content: space-between
    align-items: center

    li
      padding-right 1rem
      padding-bottom 1rem

    @media (min-width: ($MQMobile + 1px))
      display flex

  .blockchains
    padding-top 1rem
    
.theme-default-content:not(.custom)
  max-width 850px !important

.custom-block
  .custom-block-title
    font-weight bold
    margin-bottom -0.4rem

  &.tip, &.warning, &.danger, &.card
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0

  &.tip
    background-color rgba(68, 185, 131, 0.25)
    border-color #42b983
    .custom-block-title
      color #42b983

    a 
      color #42b983

  &.warning
    background-color rgba(255,229,100,.2)
    border-color darken(#ffe564, 35%)
    color $textColor

    .custom-block-title, a
      color darken(#ffe564, 35%)

  &.danger
    background-color #ffe6e6
    border-color darken(red, 20%)
    color darken(red, 70%)
    
    .custom-block-title
      color darken(red, 40%)
    a
      color $textColor

  &.card
    background-color rgba(12, 112, 254,0.2)
    border-color rgb(12, 112, 254)
    .custom-block-title, a
      color rgb(12, 112, 254)

.search-box input,
.suggestions,
.theme-container
  background-color: #2b2b2b !important


// Tables
th, td
  border: 0 !important
  line-height: 1.7
  text-align: left

thead
  tr
    border: 0
  
td
  border-top: 1px solid rgba(255,255,255,0.2) !important

tr:nth-child(2n)
  background-color: rgba(0,0,0,0.2) !important


.page-edit,
.page-nav
  max-width: 850px !important

.page-edit 
  opacity 0.5
  font-size 15px

.theme-default-content code
  background-color: rgba(255,255,255,0.05);