@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:700');

h1, h2, h3, h4, h5, h6
  font-family: 'Overpass Mono', monospace;

h2, h3, h4, h5, h6
  border-bottom: 1px solid #eaecef;

h2 
  font-size 1.7rem

h3 
  margin-top: -2rem !important;
  padding-bottom: 0.4rem;
  font-size 1.4rem

td
  line-height: 1.6

.page 
  padding-top: 4rem

.sidebar 
  background-color: #f5f7f9

.navbar
  box-shadow: 0 2px 14px rgba(60,59,77,.08);

  .home-link
    display: flex
    align-items: center

  .logo
    height: 30px;
