@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:700');

h1, h2, h3, h4, h5, h6
  font-family: 'Overpass Mono', monospace

h2, h3
  border-bottom: 1px solid #eaecef

h2 
  font-size 1.7rem

h3 
  margin-top: -2rem !important
  padding-bottom: 0.4rem
  font-size 1.4rem

td
  line-height: 1.7

.page 
  padding-top: 4rem

.sidebar 
  background-color: #f5f7f9

  .sidebar-sub-header
    opacity: 0.85

.navbar
  box-shadow: 0 2px 14px rgba(60,59,77,.08)

  .home-link
    display: flex
    align-items: center

  .logo
    height: 30px

.homepage .page
  text-align center

  .button
    display inline-block
    color: white
    background-color: #007AFF
    padding: 10px 30px
    font-weight bold
    border-radius: 5px 
    margin: 1rem 0 3rem

  .page-edit
    display none

  h2
    border-bottom: none;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 3rem;
    font-size: 24px;

  table
    border-top: 1px solid #dfe2e5
    border-bottom: 1px solid #dfe2e5
    padding: 2rem 0

    td, th, tr
      border: none
      text-align left
      border: none

    td a
      display block
      margin-top: 10px;

    td, th
      width: 33%
      vertical-align top
    
      